.resize-drag {
    width: 120px;
    border-radius: 8px;
    padding: 20px;
    background-color: #29e;
    color: white;
    font-size: 20px;
    font-family: sans-serif;

    touch-action: none;

    /* This makes things *much* easier */
    box-sizing: border-box;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.draggable {
    touch-action: none;
    user-select: none;
}
